NODE_ENV=development
API_HOST=0.0.0.0
API_PORT=8090
POSTGRES_PASSWORD=
DATABASE_URL=postgres://__DATABASE_NAME__:replace_me@localhost:5438/__DATABASE_NAME__
AUTH_JWT_SECRET=
SETTINGS_ENCRYPTION_KEY=
AUTH_BOOTSTRAP_EMAIL=
AUTH_BOOTSTRAP_PASSWORD=
